[submodule "arch/umode/untrusted_linux"]
	path = arch/umode/untrusted_linux
	url = https://gitlab.com/arrdalan/octopos_linux.git
	branch = octopos_master
[submodule "external/tpm2-abrmd"]
	path = external/tpm2-abrmd
	url = https://github.com/trusslab/octopos_tpm2_abrmd
[submodule "external/tpm2-tss"]
	path = external/tpm2-tss
	url = https://github.com/trusslab/octopos_tpm2_tss
[submodule "external/ibmtpm"]
	path = external/ibmtpm
	url = https://github.com/trusslab/octopos_ibmtpm.git
