*.o
*.swp
*.swo
*.so
storage/storage
storage/octopos_partition*
keyboard/keyboard
serial_out/serial_out
runtime/runtime
os/os
network/network
applications/socket_client/socket_server
arch/umode/mailbox/mailbox
arch/umode/pmu/pmu
arch/umode/emulator/log_view
tpm/tpm
bootloader/bootloader_storage
bootloader/bootloader_os
bootloader/bootloader_other
bootloader/keyboard
bootloader/serial_out
bootloader/storage
bootloader/network
bootloader/os
bootloader/runtime1
bootloader/runtime2
bootloader/linux
installer/installer
installer/copy*
