[submodule "arch/umode/untrusted_linux"]
	path = arch/umode/untrusted_linux
	url = https://github.com/trusslab/linux
	branch = octopos_main
[submodule "external/ibmswtpm2"]
	path = external/ibmswtpm2
	url = https://git.code.sf.net/p/ibmswtpm2/tpm2
[submodule "external/wolfTPM"]
	path = external/wolfTPM
	url = https://github.com/wolfSSL/wolfTPM.git
